.BigSummerSale {
    background: linear-gradient(to right, #2E2E2E, #000000);
    height: 470px;
    overflow: hidden;
    display: flex;
    position: relative;
}

.BigSummerSaleTitle {
    font-weight: 200;
    font-size: 72px;
    display: flex;
    flex-direction: row;
    color: white;
    width: 550px;
    overflow: visible;
}

.BigSummerSaleSoft {
    color: #787878;
    font-weight: 400;
    font-size: 16px;
    margin: 0 0 40px 0;
}

.BigSummerSaleBtn {
    width: 184px;
    height: 56px;
    border-radius: 6px;
    border: 1px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
    background-color: #252525;
}

.sale {
    font-weight: 400;
    overflow: visible;
    width: 140px;
}

.BigSummerSaleTop {
    position: relative;
}

.SmallPhoto {
    position: relative;
    left: 250px;
}

.MidPhoto {
    position: absolute;
    left: 50px;
    z-index: 2;
}

.BigPhoto {
    /*position: absolute;*/
    position: relative;
    top: 50px;
}

.BigSummerSaleMid {
    position: relative;
    text-align: center;
    max-width: 100%;
    top: 150px;
    left: -100px;
    width: 599px;
}

.BigSummerSaleBottom {
    position: relative;
}

.HalfPhone {
    position: absolute;
    right: 0;
}

.HalfWatch {
    z-index: 2;
    position: relative;
    top: 269px;
    left: -20px;
}