.breadcrumbs {
    align-items: center;
    display: flex;
    text-align: center;
    color: #a4a4a4;
    margin: 40px 160px;

}

.CatalogLink {
    text-decoration: none;
    border: none;
    color: #a4a4a4;
    margin: 0 30px 0 0;
}

.CatalogIcon {
    margin: 0 30px 0 0;
}

.CatalogLink:hover {
    color: black;
}

.Content {
    margin: 0 160px;
    display: flex;
}

.filters {
    width: 256px;
    margin: 0 32px 0 0;
    box-shadow: none;
}

.SmartphonesProductPart {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.SmartphonesProductPartMap {
    display: flex;
    flex-wrap: wrap;
    /*height: 800px;*/
    max-width: 1390px;
}

.filterActive {
    display: flex;
    margin: 20px 0;
    text-align: center;
    align-items: center;
}

.filterCheckbox {
    width: 15px;
    height: 15px;
    margin: 0 8px 0 0;
}

.filterSearch {
    
}